{% if page.api %}
  <div class="properties-container">
    {% assign api = page.api %}
    {% for category in api %}
      {% assign tags = site.data.api[category.key] %}
      {% if category.tags %}
        {% assign tags = tags | where_exp: "tag", "category.tags contains tag.key" %}
      {% endif %}
      {% for tag in tags %}
        <hr>
        <div class="property">
          <a onclick="DocUtils.API.toggleOpenClass(this)">
            <span class="expand-property">&nbsp;</span>
          </a>
          <h2 class="property__title">
            <span>
              <span class="property-key" onclick="DocUtils.API.toggleOpenClass(this)" onmousedown="DocUtils.API.disableClickSelection">{{ tag.key }}</span>: {{ tag.type }}
            </span>
            {% if tag.required %}
            <span class="property-required">required</span>
            {% endif %}
          </h2>
          <p>{{ tag.description | newline_to_br }}</p>
          <div class="property__expanded">
            <span>Defaults to <code>{{ tag.default | default: "undefined" }}</code></span>
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>
{% endif %}
