{% if post == null %}
    {% assign post = page %}
{% endif %}
<div class="post-map">
    <div class="post-map__header">
        <h2 id="mapTitle">{{post.title}}</h2>
        <div>
            <a id="showQueryContent" target="_blank" href="javascript:DocUtils.QUERY.showQueryContent('{{ post.map-link }}')">View query content</a>
            <a id="openEditorMode" target="_blank" href="{{ site.maps.editor }}{{ post.map-link }}">Open in editor mode</a>
            <a id="openCalculatorMode" target="_blank" href="{{ site.maps.calculator }}{{ post.map-link }}">Open in larger window.</a>
        </div>
    </div>
    <iframe id="mapViewer" src="{{ site.maps.calculator }}{{ post.map-link }}" width="100%" height="600"></iframe>
</div>
