<div class="video_wrapper" style="padding-bottom: {{ include.height }}%">
    <div class="video_content">

{% if include.isHeader %}

<script>

    {% include fadeAnimation.js %}

    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    document.addEventListener("visibilitychange", function() {window.toggleVideoAudio(false);});

    window.updateMuted = function () {
        var arr = document.getElementById('video_toggle').className.split(" ") || [];

        if (!window.player || !window.player.isMuted)
            return;

        if (arr.indexOf("sound_mute") != -1)
            arr.splice(arr.indexOf("sound_mute"), 1);
        if (arr.indexOf("sound_max") != -1)
            arr.splice(arr.indexOf("sound_max"), 1);

        arr.push((window.player.isMuted()) ? "sound_max" : "sound_mute");
        document.getElementById('video_toggle').className = arr.join(" ");
    };

    var displayNoneCB = function () {
        window.updateMuted();

        return;
    };

    window.onYouTubeIframeAPIReady = function onYouTubeIframeAPIReady() {
        window.player = new YT.Player('{{ include.videoid }}', {
            videoId: '{{ include.videoid }}',
            playerVars: {
                modestbranding: 0,
                autoplay: 1,
                controls: 0,
                showinfo: 0,
                mute: 0,
                wmode: 'opaque',
                loop: 1,
                branding: 0,
                rel: 0,
                autohide: 0,
                origin: window.location.origin
            },
            events: {
                onReady: function onPlayerReady(event) {
                    event.target.playVideo();

                    {% if include.loopMax and include.loopTo %}
                    setInterval(function (){
                        var current_time = event.target.getCurrentTime();
                        if (current_time > {{ include.loopMax }}) {
                            window.player.seekTo({{ include.loopTo }});
                            window.player.playVideo();
                        }
                    }, 10);
                    {% endif %}
                },
                onStateChange: function onPlayerStateChange(event) {
                    if(event.data === 1) {
                        if (this.wasLoad === undefined) {
                            fadeOut(document.getElementById('ol_{{ include.videoid }}'), 1, displayNoneCB);
                            this.wasLoad = true;
                        }
                    }
                }
            }
        });
    };

    setTimeout(function() {
        if (document.getElementById('ol_{{ include.videoid }}').style.opacity == 1)
            fadeOut(document.getElementById('ol_{{ include.videoid }}'), 1, displayNoneCB);
    }, 10000);

    window.assureVideoPlaying = setInterval(function() {
        if (window.player && window.player.getVideoBytesLoaded && window.player.getVideoBytesLoaded()) {
            window.player && window.player.playVideo();
            window.clearInterval(window.assureVideoPlaying);
            window.assureVideoPlaying = null;
        }
    }, 1000);

    window.toggleVideoAudio = function (newState) {
        if (!window.player && !window.player.isMuted) return;
        if (newState !== undefined)
            window.player.mute();
        else
            window.player[window.player.isMuted() ? "unMute" : "mute"]();
        window.updateMuted();
    };

</script>
        <div id="{{ include.videoid }}" class="video_fullDiv"></div>
        <div onclick="window.toggleVideoAudio();" class="video_overlay"><div id="ol_{{ include.videoid }}" style="background-repeat: no-repeat; background-position: center; background-size: cover; background-image: url('{{ site.url }}{{ site.baseurl }}/assets/img/{{ include.isHeader }}');"></div><div id="video_toggle"></div></div></div>

        <div class="video_btn_wrapper">
            <a href="./documentation" class="video_btn_link"><div class="btn">Documentation</div></a>
            <a href="//maps.csr.ufmg.br" target="_blank" class="video_btn_link"><div class="btn">Access CSR Maps</div></a>
        </div>
{% else %}

<iframe frameBorder="0" width="100%" height="100%" src="https://www.youtube-nocookie.com/embed/{{ include.videoid }}?version=3&showinfo=0&autoplay=1&loop=1&autopause=0&controls=0&mute=1&wmode=opaque&playlist={{ include.videoid }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endif %}

    </div>
</div>
