.post-content {
  margin: 0 auto;
  padding-top: 2.5em;
}

.comments {
  padding: 50px 0;
  background-color: #fafafa;
}

.controls__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 0 1.25rem;

  div {
    display: flex;
    align-items: center;
  }

  .next, .prev {
    padding: 0 10px;
  }

  .prev {
    align-items: flex-start;
    text-align: left;
  }

  .next {
    align-items: flex-end;
    text-align: right;
  }
}

.controls__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    font-size: 0.875rem;
    color: $grey;
  }

  a {
    color: $heading-color;
    font-weight: bold;
    border-bottom: 0;

    svg {
      transition: all .2s linear;
    }

    &:hover {
      color: $primary;
      border-bottom: 0;

      svg {
        fill: $primary;
      }
    }
  }
}

.hovergoup {
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s ease-out;
    transform: scale(1.05);
    z-index: 10;
  }
}

.icon-card {
  &_link {
    display: block;
  }

  &_container {
    width: 33.25%;
    min-height: 150px;
    &:hover * .icon-card_image {
      background-color: #80809d17;
    }
  }

  &_inner {
    text-align: center;
    padding: 25px;
  }

  &_titlewrapper {
    min-height: 70px;
    text-align: center;
    padding: 30px 30px 10px 30px;
  }

  &_title {
    color: #808080;
  }

  &_text {
    line-height: 24px;
    color: #6a6a6a;
  }

  &_image {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 80px;
    border: 1px solid #808080;
    border-radius: 10px;
  }
}

.goup-card {
  &_link {
    display: block;
  }

  &_container {
    text-align: center;
    width: 33.25%;
    min-height: 600px;
  }

  &_inner {
  }

  &_text {
    top: 30%;
    padding: 10%;
    position: absolute;
    margin: 0px 10px;
    color: #2b2a2a;
    line-height: 24px;
    text-align: center;
    background-color: #f7f7f7;
    background-color: rgba(247,247,247,0.701961);
    font-size: 1.17em;
    text-shadow: 0px 1px 3px #ffffff, 1px 0px 3px #ffffff;
  }

  &_titlewrapper {
    min-height: 70px;
    text-align: center;
    padding: 30px;
  }

  &_title {
    color: #808080;
  }

  &_image {
    position: relative;
    box-shadow: 0 2px 40px 0 rgba(153,155,168,0.3);
    height: 500px;
  }
}

.fillHeader {
  height:60px;
  width: 100%;
}

.video_overlay:hover #video_toggle, .video_overlay:hover #video_toggle.sound_max {
  bottom: 34px;
  right: 34px;
  position: absolute;
  pointer-events: none;width: 45px;height: 45px;
  user-select: none;
  background: url(/assets/img/icons/sound_max.png) no-repeat;
}

.video_overlay:hover #video_toggle.sound_mute {
  bottom: 34px;
  right: 34px;
  position: absolute;
  pointer-events: none;width: 45px;height: 45px;
  user-select: none;
  background: url(/assets/img/icons/sound_mute.png) no-repeat;
}

.video {
  &_wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
  }

  &_content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  iframe {
    border: 0px;
  }

  &_fullDiv {
    height: 100%;
    width: 100%;
  }

  &_overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    z-index:50;
    color:#fff;
    pointer-events: all;

    &:hover {

    }
  }

  &_btn {

    &_link {
      pointer-events: auto;
      display: inline-block;
    }

    &_wrapper {
      z-index: 51;
      position: absolute;
      top: 70%;
      left: 0;
      height: 30%;
      width: 100%;
      text-align: center;
      pointer-events: none;
      &_btn {
      }
    }
  }
}

.api-toolbar {
  margin-top: 10px;
  padding: 8px 10px 5px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left-panel {
    display: flex;
    align-items: center;
    width: 100%;
  }
  
  &__right-panel {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;

    .filter-members {
      width: 165px;
      margin: 0px 15px;
      padding: 5px;
      background-color: #FFF;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.30);
    }

    .toggle-all-properties {
      display: block;
      height: 22px;
      width: 22px;
      cursor: pointer;
      user-select: none;
      background: url(/assets/img/icons/plus.png) no-repeat;

      &.open {
        background: url(/assets/img/icons/minus.png) no-repeat;
      }
    }
  }
}

.api-container {
  hr {
    margin: 0;
  }

  div {
    transition: max-height 5s ease;
  }

  .hidden {
    display: none;
  }

  #empty-filter-results {
    margin: 5px 5px 50px;
  }
}

.property-category {
  word-wrap: break-word;
  position: relative;
  border-top: 1px solid #ededed;

  &:last-child {
    border-bottom: 1px solid #ededed;
  }

  &__metadata {
    position: relative;
    padding: 2px 22px 0px;
    margin: 2px 0px;

    &__name {
      user-select: none;
      font-size: 1.17em;
      font-weight: bold;
      color: #3d4e8c;
      transition: all .2s linear;

      &:hover {
        color: #277CEA;
        cursor: pointer;
      }
    }

    &__description {
      margin: 5px 0px 5px;
    }

    &__completeAPI {
      margin: 20px 0px 5px;
      font-style: italic;
      color: #666;
    }
  }

  .left-anchor {
    background-color: #f7f7f7;
    border-right: 1px solid #e6e6e6;
    position: absolute;
    top: 0;
    line-height: 1.5;
    left: 0;
    bottom: 0;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }

    .arrow {
      margin-top: 0px;
      width: 15px;
      display: block;
      transition: all .1s linear;
      user-select: none;
      background: url(/assets/img/icons/expand.png) no-repeat 2px 13px;
    }
  }

  .property {
    display: none;
  }

  &.open {
    .property:not(.hidden) {
      display: block;
    }
  }

  .open {
    .left-anchor {
      background-color: #EEEEEE;

      .arrow {
        background: url(/assets/img/icons/collapse.png) no-repeat 2px 13px;
      }
    }
  }
}

.property {
  position: relative;
  padding: 2px 22px 0px 6px;
  margin: 0px 0px 0px 32px;
  color: #838c8d;
  border-top: 1px solid #ededed;

  &:not(.hidden) {
    &::before {
      content: " ";
      position: absolute;
      width: 2px;
      background-color: #EEEEEE;
      top: -6px;
      bottom: -27px;
      left: -27px;
    }
  
    &:last-of-type::before, &.lastVisible::before {
      height: 26.5px;
      bottom: 0;
    }
  
    &::after {
      content: " ";
      position: absolute;
      left: -25px;
      width: 10px;
      height: 2px;
      background-color: #EEEEEE;
      top: 19px;
    }
  }

  &__title {
    display: inline;
    font-weight: bold;
    color: #3d4e8c;
    font-size: 0.9em;
    justify-content: space-between;
    font-family: HelveticaNeue, helvetica, arial, clean, sans-serif;

    .property-key {
      transition: all .2s linear;

      &:hover {
        color: #277CEA;
        cursor: pointer;
      }
    }

    .property-required {
      font-size: 0.8em;
      color: #999999;
    }
  }

  p {
    height: 24px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .property__expanded {
    display: none;
  }

  .left-anchor {
    margin-left: -16px;
  }

  &.open {
    p {
      height: auto;
      text-overflow: clip;
      overflow: visible;
    }

    .property__expanded {
      display: block;
      margin: 10px 0px 5px;
    }
  }

  &_param {
    position: relative;
    display: inline-block;
    color: #7d7659;
    border-bottom: 1px dotted black;

    &:hover .property_tooltip {
      visibility: visible;
    }
  }

  &_tooltip {
    visibility: hidden;
    white-space: pre;
    background-color: #ccc;
    min-width: 100px;
    color: #0a0a0a;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: -2em;
    z-index: 1;
  }

  &_type {
    color: #6258fd;
  }
}
