.post-content {
  margin: 0 auto;
  padding-top: 2.5em;
}

.comments {
  padding: 50px 0;
  background-color: #fafafa;
}

.controls__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 0 1.25rem;
  border-top: 1px solid $border;

  div {
    display: flex;
    align-items: center;
  }

  .next, .prev {
    padding: 0 10px;
  }

  .prev {
    align-items: flex-start;
    text-align: left;
  }

  .next {
    align-items: flex-end;
    text-align: right;
  }
}

.controls__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    font-size: 0.875rem;
    color: $grey;
  }

  a {
    color: $heading-color;
    font-weight: bold;
    border-bottom: 0;

    svg {
      transition: all .2s linear;
    }

    &:hover {
      color: $primary;
      border-bottom: 0;

      svg {
        fill: $primary;
      }
    }
  }
}

.properties-container {
  hr {
    margin: 0; 
  }
}

.property {
  position: relative;
  padding: 8px 22px;
  margin: 2px 0px;

  &__title {
    display: flex;
    justify-content: space-between;
    font-size: 1.2em;
    font-family: "Courier New", Courier, monospace;

    .property-key {
      transition: all .2s linear;
      
      &:hover {
        color: #277CEA;
        cursor: pointer;
      }
    }

    .property-required {
      font-size: 0.8em;
      color: #999999;
    }
  }

  a {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }

    .expand-property {
      margin-top: 4px;
      width: 15px;
      display: block;
      transition: all .1s linear;
      user-select: none;
      background: url(/assets/img/icons/expand.png) no-repeat 2px 13px;
    }
  }

  p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 13px;
  }

  .property__expanded {
    display: none;
  }

  &.open {
    a {
      background-color: #EEEEEE;

      .expand-property {
        background: url(/assets/img/icons/collapse.png) no-repeat 2px 13px;
      }
    }

    p {
      text-overflow: clip;
      white-space: normal;
      overflow: visible;
    }

    .property__expanded {
      display: block;
    }
  }
}
