.post-content {
  margin: 0 auto;
  padding-top: 2.5em;
}

.comments {
  padding: 50px 0;
  background-color: #fafafa;
}

.controls__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.375rem 0 1.25rem;
  border-top: 1px solid $border;

  div {
    display: flex;
    align-items: center;
  }

  .next, .prev {
    padding: 0 10px;
  }

  .prev {
    align-items: flex-start;
    text-align: left;
  }

  .next {
    align-items: flex-end;
    text-align: right;
  }
}

.controls__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  span {
    font-size: 0.875rem;
    color: $grey;
  }

  a {
    color: $heading-color;
    font-weight: bold;
    border-bottom: 0;

    svg {
      transition: all .2s linear;
    }

    &:hover {
      color: $primary;
      border-bottom: 0;

      svg {
        fill: $primary;
      }
    }
  }
}

.hovergoup:hover {
  margin-top: -15px;
  transition: all 0.3s ease-in-out;
}

.icon-card {
  &_container {
    width: 33.25%;
    min-height: 150px;
  }

  &_inner {
    text-align: center;
  }

  &_titlewrapper {
  }

  &_title {
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: -0.02em;
    line-height: 34px;
  }

  &_text {
    line-height: 24px;
    color: #6a6a6a;
  }

  &_image {
      display: inline-block;
      background-repeat: no-repeat;
      background-position: center;
      width: 80px;
      height: 80px;
      border: 1px solid #26A9E0;
      border-radius: 40px;
  }
}

.goup-card {
  &_container {
    width: 33.25%;
    min-height: 600px;
  }

  &_inner {
    padding: 20px 6px;
  }

  &_titlewrapper {
    min-height: 70px;
    text-align: center;

  }

  &_image {
    box-shadow: 0 2px 40px 0 rgba(153,155,168,0.3);
    height: 500px;
  }
}

.fillHeader {
  height:60px;
  width: 100%;
}

.video {
  &_wrapper {
    position: relative;
    width: 100%;
    padding-bottom: 60%;
  }

  &_content {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  iframe {
    border: 0px;
  }

  &_fullDiv {
    height: 100%;
    width: 100%;
  }

  &_overlay {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:1;
    z-index:50;
    color:#fff;
  }
}

.api-toolbar {
  padding: 8px 10px 5px;
  background-color: #f7f7f7;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left-panel {

  }

  &__right-panel {
    .toggle-all-properties {
      display: block;
      height: 22px;
      width: 22px;
      cursor: pointer;
      user-select: none;
      background: url(/assets/img/icons/plus.png) no-repeat;

      &.open {
        background: url(/assets/img/icons/minus.png) no-repeat;
      }
    }
  }
}

.api-container {
  hr {
    margin: 0;
  }
}

.property-category {
  position: relative;
  border-top: 1px solid #ededed;

  &__metadata {
    position: relative;
    padding: 2px 22px 0px;
    margin: 2px 0px;

    &__name {
      user-select: none;
      font-size: 1.17em;
      font-weight: bold;
      color: #3d4e8c;
      transition: all .2s linear;

      &:hover {
        color: #277CEA;
        cursor: pointer;
      }
    }

    &__description {
      margin: 5px 0px 5px;
    }

    &__completeAPI {
      margin: 20px 0px 5px;
      font-style: italic;
      color: #666;
    }
  }

  .left-anchor {
    background-color: #f7f7f7;
    border-right: 1px solid #e6e6e6;
    position: absolute;
    top: 0;
    line-height: 1.5;
    left: 0;
    bottom: 0;
    cursor: pointer;

    &:hover {
      background-color: #EEEEEE;
    }

    .arrow {
      margin-top: 0px;
      width: 15px;
      display: block;
      transition: all .1s linear;
      user-select: none;
      background: url(/assets/img/icons/expand.png) no-repeat 2px 13px;
    }
  }

  .property {
    display: none;
  }

  &.open {
    .property {
      display: block;
    }
  }

  .open {
    .left-anchor {
      background-color: #EEEEEE;

      .arrow {
        background: url(/assets/img/icons/collapse.png) no-repeat 2px 13px;
      }
    }
  }
}

.property {
  position: relative;
  padding: 2px 22px 0px 6px;
  margin: 0px 0px 0px 32px;
  color: #838c8d;
  border-top: 1px solid #ededed;

  &::before {
    content: " ";
    position: absolute;
    width: 2px;
    background-color: #EEEEEE;
    top: -6px;
    bottom: -27px;
    left: -27px;
  }

  &:last-child::before {
    height: 26.5px;
    bottom: 0;
  }

  &::after {
    content: " ";
    position: absolute;
    left: -25px;
    width: 10px;
    height: 2px;
    background-color: #EEEEEE;
    top: 19px;
  }

  &__title {
    display: inline;
    font-weight: bold;
    color: #3d4e8c;
    font-size: 0.9em;
    justify-content: space-between;
    font-family: HelveticaNeue, helvetica, arial, clean, sans-serif;

    .property-key {
      transition: all .2s linear;

      &:hover {
        color: #277CEA;
        cursor: pointer;
      }
    }

    .property-required {
      font-size: 0.8em;
      color: #999999;
    }
  }

  p {
    height: 24px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    overflow: hidden;
    margin-bottom: 5px;
  }

  .property__expanded {
    display: none;
  }

  .left-anchor {
    margin-left: -16px;
  }

  &.open {
    p {
      height: auto;
      text-overflow: clip;
      overflow: visible;
    }

    .property__expanded {
      display: block;
      margin: 10px 0px 5px;
    }
  }
}
