---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">

  {% include head.html %}

  <body class="site">

    {% if site.google_tag_manager %}

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->

    {% endif %}

    {% include header.html %}

    <div class="hero lazyload" data-bg="{{ site.url }}{{ site.baseurl }}/assets/img/{{ site.hero_img }}">
      <div class="hero__wrap">
        <h1 class="hero__title">{{ site.title | escape }}</h1>
        <p class="hero__meta">{{ site.tagline }}</p>
      </div>
    </div>

    <main class="site__content">
      <section class="blog">
        <div class="category-section">
          <div id="examples" class="container">
            <h2 class="post-category">What can CSR Maps do?</h2>
            <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

              {% assign sortedExamples = site.examples | sort: 'title' %}
              {% for post in sortedExamples %}
                {% include card.html %}
              {% endfor %}

              <!-- {% include pagination.html %} -->
            </div>
          </div>
        </div>

        <div class="category-section">
          <div id="elements" class="container">
            <h2 class="post-category">Available interaction tools</h2>
            <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

              {% assign sortedElements = site.elements | sort: 'title' %}
              {% for post in sortedElements %}
                {% include card.html %}
              {% endfor %}

              <!-- {% include pagination.html %} -->
            </div>
          </div>
        </div>

        <div class="category-section">
          <div class="container">
            <h2 class="post-category">Raw Maps</h2>
            <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

              <p>Soon</p>
              <!--
              {% assign sortedRawMaps = site.raw_maps | sort: 'title' %}
              {% for post in sortedRawMaps %}
                {% include card.html %}
              {% endfor %}
              -->
              <!-- {% include pagination.html %} -->
            </div>
          </div>
        </div>

        <div class="category-section">
          <div id="tutorial" class="container">
            <h2 class="post-category">Tutorials</h2>
            <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

              <ul>
                <li>Steps to easily publish your own maps: <a href="/mappia_publisher">Checkout this tutorial</a>.</li>
                <li>How customize the maps by visual edition: soon</li>
                <li>How customize the maps by code edition: soon</li>
              </ul>
              <!--
              {% assign sortedRawMaps = site.raw_maps | sort: 'title' %}
              {% for post in sortedRawMaps %}
                {% include card.html %}
              {% endfor %}
              -->
              <!-- {% include pagination.html %} -->
            </div>
          </div>
        </div>


      </section>
    </main>

    {% include footer.html %}

  </body>

</html>
