---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

{% include head.html %}

<body class="site">

{% if site.google_tag_manager %}

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

{% endif %}

{% include header.html %}

<div class="fillHeader"></div>
{% include youtubePlayer.html videoid="WXLw_WyV9O0" height="56.4" isHeader="posts/CSR-Maps-bg.jpg" loopMax="27.5" loopTo="4.3" buttons="/documentation|View documentation|http://maps.csr.ufmg.br|CSRMaps database" %}

<main class="site__content">
  <section class="blog">
    <div class="category-section">
      <div class="container">
        <h2 class="intro-category">Map interactions</h2>
        <h3 class="intro-subcategory">Visualize, inspect maps and interact with their values.</h3>
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

          {% for intro in site.data.intro.interaction %}
          {% include interaction-card.html %}
          {% endfor %}

        </div>
      </div>
    </div>

    <div class="category-section">
      <div class="container">
        <h2 class="intro-category">Now open to use in any project</h2>
        <h3 class="intro-subcategory">Just to make it clearer</h3>
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
          {% for intro in site.data.intro.license %}
          {% include icon-card.html %}
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="category-section">
      <div class="container">
        <h2 class="intro-category">Data sources</h2>
        <h3 class="intro-subcategory">CSR Maps, not only a simple visualization, but also tool a reliable data server.</h3>
        <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

          {% for intro in site.data.intro.database %}
          {% include goup-card.html %}
          {% endfor %}

        </div>
      </div>
    </div>

  </section>
</main>

{% include footer.html %}

</body>

</html>
