---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

{% include head.html %}

<body class="site">

{% if site.google_tag_manager %}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% endif %}

{% include header.html %}
<div class="fillHeader loading_11"></div>
{% include youtubePlayer.html videoid="pPhln50TgRI" height="56.4" videoURL="https://csr.ufmg.br/videos/_csrmaps_720p.mp4"
isHeader="posts/CSR-Maps-bg.jpg" loopMax="78" loopTo="0" buttons="/documentation|View
documentation|http://maps.csr.ufmg.br|CSRMaps database" %}

<main class="site__content">
    <section class="blog">
        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">About Mappia</h2>
                <h3 class="intro-subcategory">Make and publish yourself interactive maps online</h3>
                <p>&nbsp;&nbsp;&nbsp; <b>The service is free of charge</b>, and fully customized. To <b>publish maps yourself</b> we offer two options: one does not require a private server, only an account on an online file storage service such as <b>GitHub</b>, <b>BitBucket</b> or others, another one requires a private server configured with a Web Map Service (<b>WMS</b>). The platform offers a set of <b>customizable ready-to-use tools</b> called elements. These elements allows various interactions, such as inspect values, apply map algebra, create interactive charts. Our map platform can integrate multiple data sources, such as <b>CSR Database</b>, other online databases, and user maps.</br></br>
                    &nbsp;&nbsp;&nbsp;Create layouts in the editor mode, an interactive and easy-to-use interface that allows full control of customizations by: choosing maps, using map interactive elements, getting user inputs, creating interactive charts, defining a map algebra expression, and creating your own tools. The maps can be easily <b>embedded in websites, or shared via url</b>.</br></br>
                    &nbsp;&nbsp;&nbsp;There is a complete solution for online map publishing <b>designed for any users</b>, from beginners to advanced ones that want to perform map algebra using online data. There are <b>fully documented elements with examples</b>, and a tutorial to teach how to publish yourself interactive online maps online develop and share a map platform. All examples were developed using Mappia tools. This portfolio is <b>freely accessible and editable</b>. No need to install any software, try it online now.<br><br></p>
            </div>

            <div class="container">
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

                    {% for intro in site.data.intro.share %}
                    {% include interaction-card.html %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">Features</h2>
                <h3 class="intro-subcategory">Display interactive maps yourself using our read-to-use elements.</h3>
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

                    {% for intro in site.data.intro.interaction %}
                    {% include interaction-card.html %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category-section">

            <div class="container">
                <h2 class="intro-category-center">PUBLISH AND SHARE YOURSELF INTERACTIVE MAPS</h2>
                <h3 class="intro-subcategory-center">Display maps on the web yourself using Mappia platform</h3>
            </div>
            <iframe src="https://maps.csr.ufmg.br/calculator/?lang=eng&amp;map=&amp;queryid=5&amp;extent=-443.628,-16.847,-407.373,3.294&amp;tools=helpintro,layerchooser,zoomextent,customzoom,getfeature,hovershowlegend&amp;options=hidestylechooser,enablequeries,capabilities&amp;visiblelayers=-1" width="100%" height="600" style="border:0;"></iframe>
        </div>

        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">Multiple data sources</h2>
                <h3 class="intro-subcategory">Use any map from CSR Database along with those from others servers as well as your own maps.</h3>
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

                    {% for intro in site.data.intro.database %}
                    {% include goup-card.html %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">Now open to use in any map project</h2>
                <h3 class="intro-subcategory">Just to make it clearer</h3>
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
                    {% for intro in site.data.intro.license %}
                    {% include icon-card.html %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
</main>

{% include footer.html %}

</body>

</html>
