---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en-US' }}">

{% include head.html %}

<body class="site">

{% if site.google_tag_manager %}

<!-- Google Tag Manager (noscript) -->
<noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->

{% endif %}

{% include header.html %}

<div class="fillHeader"></div>
{% include youtubePlayer.html videoid="WXLw_WyV9O0" height="56.4" videoURL="https://csr.ufmg.br/videos/_csrmaps_720p.mp4"
isHeader="posts/CSR-Maps-bg.jpg" loopMax="27.5" loopTo="4.3" buttons="/documentation|View
documentation|http://maps.csr.ufmg.br|CSRMaps database" %}

<main class="site__content">
    <section class="blog">
        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">About mappia</h2>
                <h3 class="intro-subcategory">CSR Maps makes your interactive maps easy to publish online</h3>
                <p>&nbsp;&nbsp;&nbsp;<b>The service is free of charge</b>, and fully customizable with low effort. To <b>publish your data</b> we offer two options, one option does not require a private server but only an account in an online file storage service such as <b>GitHub</b>, <b>BitBucket</b> and many others, the other requires a private server configured with a Web Map Service (<b>WMS</b>). The platform offers a set of <b>customizable ready-to-use tools</b> called elements. These elements allows many different interactions such as inspect values, apply map algebra, create interactive charts and many others. This platform can integrate multiple data sources simultaneously, such as <b>CSR Database</b>, other online databases, and user maps.</br></br>
                    &nbsp;&nbsp;&nbsp;Create your layout in the editor mode, an interactive and easy-to-use interface that allows the full control of the platform itself. You have the full control of the customizations by: choosing maps, using map interactive elements, getting user inputs, creating interactive charts, defining a map algebra expression, alot of others customizations and creating your own tools. These maps can be easily <b>embedded into sites, or shared by the project url</b>.</br></br>
                    &nbsp;&nbsp;&nbsp;This is a complete solution for online mapping <b>designed for all users</b>, the ones that just want to create an online map viewer, to the ones that want to simulate sceneries using your data online. So for all users, we <b>fully documented our elements with examples</b>, and a tutorial showing the simplest way to publishing your interactive maps online and create a shareable platform. All CSR Platforms were made within mappia as a <b>fully accessible and editable</b> portfolio. No install is required, try it online now.<br><br></p>
            </div>

            <div class="container">
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

                    {% for intro in site.data.intro.share %}
                    {% include interaction-card.html %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">Features</h2>
                <h3 class="intro-subcategory">Display your interactive maps using our read-to-use elements.</h3>
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

                    {% for intro in site.data.intro.interaction %}
                    {% include interaction-card.html %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category-section">

            <div class="container">
                <h2 class="intro-category-center">PUBLISH AND SHARE YOUR INTERACTIVE MAPS</h2>
                <h3 class="intro-subcategory-center">Diplay your data in a platform like this</h3>
            </div>
            <iframe src="https://maps.csr.ufmg.br/calculator/?lang=eng&amp;map=&amp;queryid=5&amp;extent=-443.628,-16.847,-407.373,3.294&amp;tools=helpintro,layerchooser,zoomextent,customzoom,getfeature,hovershowlegend&amp;options=hidestylechooser,enablequeries,capabilities&amp;visiblelayers=-1" width="100%" height="600" style="border:0;"></iframe>
        </div>

        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">Multiple data sources together</h2>
                <h3 class="intro-subcategory">Use any map from CSR Database along with others servers and your own maps.</h3>
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">

                    {% for intro in site.data.intro.database %}
                    {% include goup-card.html %}
                    {% endfor %}

                </div>
            </div>
        </div>

        <div class="category-section">
            <div class="container">
                <h2 class="intro-category">Now open to use in any project</h2>
                <h3 class="intro-subcategory">Just to make it clearer</h3>
                <div class="post-list" itemscope="" itemtype="http://schema.org/Blog">
                    {% for intro in site.data.intro.license %}
                    {% include icon-card.html %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </section>
</main>

{% include footer.html %}

</body>

</html>
